:root {
    --cor-de-fundo: #f8f1d0;
    --amarelo-escuro: #eac100;
    --verde-claro: #0b8457;
    --verde-escuro: #096c47;
    --titulos: 'Montserrat', sans-serif;
    --textoComum: 'Roboto', sans-serif;
}

@keyframes fadeIn {
    from { 
        opacity: 0;
        scale: 0;
    }
    to { 
        opacity: 1;
        scale: 1;
    }
}

@keyframes fadeOut {
    from { opacity: 1;}
    to { opacity: 0;}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--textoComum);
    list-style: none;
}

body {
    background-color: var(--cor-de-fundo);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 100vh;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

header {
    text-align: center;
}

header h1 {
    font-family: var(--titulos);
    color: var(--verde-escuro);
    font-size: 56px;
    font-weight: bold;
}

#userName {
    font-size: 20px;
}

.generalSubtitles {
    color: var(--verde-claro);
    font-size: 16px;
    font-weight: bold;
}

label {
    font-size: 16px;
}

input {
    margin-top: .4em;
}

form {
    width: 100%;
    margin: 16px 0;
}

.item-1 {grid-area: nomeInput;}
.item-2 {grid-area: numeroinput;}
.item-3 {grid-area: cepInput;}
.item-4 {grid-area: emailInput;}

.item-5 {
    grid-area: botao;
    text-align: center;}

form .grid-container {
    display: grid;
    grid-template-areas: 
    'nomeInput numeroinput numeroinput'
    'emailInput cepInput cepInput'
    'botao botao botao';
    grid-gap: 1em;
}

form input, form button {
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    outline: var(--verde-escuro);
    border-color: var(--verde-escuro);
    padding: .4em;
    border-radius: .5em;
}

form button {
    width: 40%;
    background-color: var(--verde-escuro);
    color: var(--cor-de-fundo);
    cursor: pointer;
}

form button:hover {
    background-color: var(--verde-claro);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

table {
    position: relative;
    background-color: var(--verde-claro);
    border-radius: 1em;
    padding: 2em;
    width: 100%;
    min-height: fit-content;
    text-align: start;
    margin-top: 16px;
}

table thead th {
    font-family: var(--titulos);
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-de-fundo);
    border-bottom: 2px solid var(--cor-de-fundo);
    padding: 0 .3em .3em 0;
    text-align: start;
}

table thead tr {
    padding: 1em;
}

table tbody td{
    color: var(--cor-de-fundo);
    padding-top: .5em;
}

#messagesDisplay {
    width: fit-content;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    border-radius: .5em;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--amarelo-escuro);
}

.message {
    color: var(--verde-escuro);
    font-weight: bold;
    padding: .5em;
}

#contactList {
    text-transform: uppercase;
}

.lastAddedContact {
    background-color: var(--amarelo-escuro);
    padding: 1em;
    border-radius: 1em;   
}

.lastAddedContact td {
    min-width: 25vw;
    font-weight: bold;
    color: var(--verde-escuro);
}

.highlight {
    color: var(--verde-escuro);
    background-color: var(--amarelo-escuro);
    font-weight: bold;
}

#closeButton {
    padding: .3em;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    transition: 200ms;
}

#closeButton img {
    height: 20px;
    margin-right: 4px;
}

#closeButton:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 767px) {
    .container {
        width: 70vw;
        margin: 0 auto;
    }
    form .grid-container {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    form button {
        width: 100%;
        margin-top: 1em;
    }

    table {
        max-width: 100%;
    }

    table #emailTable,
    table #cepTable,
    tbody .email,
    tbody .cep {
        display: none;
    }
}